.App {
  display: grid;
  background-color: #dadbd3;
  height: 100vh;
  place-items: center;
}
.app_body {
  display: flex;
  background-color: #ededed;
  margin-top: 50px;
  height: 90vh;
  width: 90vh;
  box-shadow: -2px 6px 29px -10px rgb(1, 1, 1);
  border-radius: 20px;
}
